@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  border-sizing: border-box;
  font-family: 'Exo', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9d9d9;
  height: 100vh;
}

.inner-container {
  background-color: #ffffff;
  border-radius: 2rem;
  width: 400px;
  height: 470px;
}

.inner-inner-container {
  padding: 40px;
}

/* styles for Title */
.title-container > p {
  font-size: 14px;
  margin-top: 10px;
}

/* styles for CartItem */
.item-container .item-stock {
  background-color: #82be47;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  border-radius: 16px;
  margin: 10px 0;
  padding: 5px 0;
  width: 80px;
}

.item-inner-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.item-name {
  font-size: 13px;
  font-weight: bold;
  width: 230px;
}

.item-details {
  display: flex;
  flex-direction: column;
}

/* styles for Counter */
.counter-container {
  display: flex;
  margin: 18px 0;
}

.counter-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e2f3f9;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 36px;
  height: 36px;
}

.counter-value {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border: 1px solid #e5e7e9;
  border-radius: 6px;
  margin-inline: 7px;
  padding: 6px;
  width: 20px;
  height: 20px;
}

/* styles for Price */
.price-container {
  font-size: 12px;
  margin: 10px 0;
}

.price-container-1,
.price-container-2 {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.price-container-1 p:nth-child(2) {
  font-weight: bold;
  text-transform: uppercase;
}

/* styles for Button */
.button-container button {
  background-color: #4379ff;
  color: white;
  font-size: 13px;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  padding: 14px 0;
  width: 100%;
}
